CLIENT_GATEWAY_PORT =

# PAYMENTS SERVICE
PAYMENTS_MS_PORT = 
STRIPE_SECRET = 

STRIPE_SUCCESS_URL = http://localhost:3003/api/payments/success
STRIPE_CANCEL_URL = http://localhost:3003/api/payments/cancel

# https://dashboard.stripe.com/test/workbench/webhooks/we_1RFK2HFbQYD6qgwm3GZfv1is
# Este es el signing secret del webhook que se genera al crear el webhook en stripe
STRIPE_ENDPOINT_SECRET =

# Auth database MONDODB
AUTH_DATABASE_URL = mongodb+srv://abcxyz:12345@authmicroservicedb.mjfcrqa.mongodb.net/
JWT_SECRET = 